.main__header {
    margin: 0 auto;
    background-color: gold;
    position: relative;
}

.main__header-top {
    display: flex;
    align-items: center;
    border: 5px solid green;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
}



.info-nav__list {
    display: flex;
    align-items: center;
    background-color: hotpink;
    min-height: rem(100px);
    font-family: "Myriad Pro";
    font-size: rem(14px);
    font-weight: 400;
    justify-content: space-between;
}

.info-nav__item {

}

.main-nav__list {
    display: flex;
    align-items: center;
    background-color: darkcyan;
}