.products__list {
    background-color: lightcoral;
    width: rem(1137px);
    margin: 0 auto;
}

.products__item {
    background-color: thistle;
    border-bottom: 1px solid blue;
}

.product__block {
    background-color: chartreuse;
    width: rem(1137px);

}


.product-carousel {
    background-color: lightgreen;
    border: 1px solid sandybrown;
}

.product-carousel__list {
    display: flex;
    width: rem(1137px);
    overflow: hidden;
}

.product__card {
    height: rem(461px);
    width: rem(263px);
    background-color: orange;
    border-radius: rem(10px);
    border: 1px solid black;
    box-shadow: 0 0 20px 0 #c7c6c6a4;
    margin-right:  rem(25px); 

    &:last-child {
        margin: 0;
    }
}